@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  /* use Inter */
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: hsl(265 49.8% 65.2%);
    --foreground: #ededed;
  }
}

body {
  background: linear-gradient(to bottom,
      hsl(265, 50%, 12%),
      hsl(283, 27%, 20%));
  color: var(--foreground);
  font-family: var(--font-sans);
  /* now Inter applies site-wide */
  margin-left: 1%;
  margin-right: 1%;
  min-height: 100vh;
}